/* Fonts */
@font-face {
  font-family: 'futura_t_medium';
  src: url('../assets/fonts/futura_t_medium.ttf') format('truetype');
}




.q8-form__submit-text {

    flex-basis: 190px !important;
    font-size: 27px !important;
}



.q8-form__input-error {

    bottom: -14px !important;
    color: orange !important;
    font-size: 9px !important;

}


/* Languages */

.lang-en-ar {
  float: right;
  margin-top: 50px;
}

.lang-en-ar a {
  color: white;
}

.lang-en-ar p {
  color: white;
  font-size: 16px;
}

/* New Slider */


.swiper-slide {
height: auto !important;
}


.swiper-wrapper {
height: auto !important;
}

.swiper-container {
height: auto !important;
}

.swiper-slide  {
  background: none !important
}



/* Form */



/* fix for phone placement */

.q8-form-row-phone-group .q8-form__input-phone[data-v-125be516]{

    width: 66% !important;
    margin-top: 14px !important;
}



.q8-form__consent {

    padding-top: 15px;
}


.q8-form-row_phone-group .q8-form__input:first-child {

    width: 22% !important;

}

.q8-form-row_phone-group .q8-form__input:last-child {
    width: 75% !important;
}


.q8-form__input-error {

    margin-top: 10px;
}



.q8-form__consent[data-v-d9a9ac34] {
  padding: 5px;
}

.q8-form-row_country-currency {
  display: none !important;
}

.q8-form__submit-img {
  display: none !important;
}

/* Briding phone section */
.q8-form-row_phone-group .q8-form__input[data-v-d9a9ac34]:first-child {
  padding: 0 2%;
  width: 18%;
  direction: ltr;
  width: 20% !important;
}

.q8-form-row_phone-group .q8-form__input[data-v-d9a9ac34]:last-child {
  width: 75% !important;
  margin-bottom: 30px !important
}

.q8 form #marketingMaterials+label {
  border-radius: 0 !important;
  margin-bottom: 50px !important;
}

.q8 form .q8-form__submit {
  font-family: 'futura_t_medium';
  margin: 0 0 0 !important;
  border-radius: 10px !important;
  height: 53PX !important;
  background: #ceb03f !important;
  font-size: 21px !important;
  font-weight: 100;
  background: rgb(198,169,60) !important;
background: linear-gradient(90deg, rgba(198,169,60,1) 0%, rgba(211,181,66,1) 35%) !important;
}

.q8-form {
  padding: 10px 25px !important;
  line-height: 1 !important;
}

.q8 form .q8-form__input {
  margin: 5px 0 !important;
}

.q8-form {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .0) !important;
}

.select__selected {
  border-radius: 0 !important;
}

.q8 form #PrivacyPolicy+label {
  border-radius: 0 !important;
}

.q8 form #marketingMaterials+label[data-v-03c1a05e] {
  border-radius: 0 !important;
}

.q8-form__consent-label {
  color: white !important;
}

.q8 a {
  background-color: transparent;
  color: #a7d60e;
}

.bg-fix-first {
  background: #005837;
}

.main-logo p {
  color: white;
  font-family: 'futura_t_medium';
  padding: 50px 20px 10px 20px;
  font-size: 24px;
  width: 95%;
  margin: 0 auto;
  text-align: center;

}

.q8-form {
  border: 0px !important;
  background: #005837 !important;
}

/* Rows styles */
.q8 form .q8-form__input {
  margin: 7px 0;
  width: 100% !important;
  border-radius: 0 !important;
}

/* Style Button */
.q8 form .q8-form__submit {
  margin-top: 15px;
  background: #caad3e !important;
  font-family: 'futura_t_medium';
}

/* Top Left Section */
.main-h-p h1 {
  font-size: 38px;
  font-family: 'futura_t_medium';
  color: white;
  margin-top: 108px;
  text-shadow: 4px 4px #black;
  width: 90%;
}

.header-p-1 p {
  color: #dfdedd;
  font-size: 25px;
  font-family: 'futura_t_medium';
  text-align: left;
  width: 90%;
}

.header-p-2 p {
  color: #dfdedd;
  font-size: 25px;
  font-family: 'futura_t_medium';
  text-align: left;
  width: 90%;
  padding-bottom: 12px;
}

.header-p-3 p {
  color: #dfdedd;
  font-size: 25px;
  font-family: 'futura_t_medium';
  text-align: left;
  width: 90%;
  padding-bottom: 70px;
}

/* Logos section */
.p-y-f {
  text-align: center;
}

.logos-container {
  margin: 0 auto;
    padding: 100px 0 50px 0;
}

.logos-text p {
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0 0 0px;
  font-family: 'futura_t_medium';
  font-size: 20px;
}

.logos-text {
  text-align: center;
  margin: 0 auto;
}

/* Cards Sections */
.headline-testimonials h1 {
  color: #005837;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-family: 'futura_t_medium';
}

.text-testi p {
  color: black;
  text-align: center;
  padding: 10px 0 40px 0;
  font-family: 'futura_t_medium';
  font-size: 20px;
  margin: 0 auto;
    width: 43%;
}


.tesi-section-container {
  background-image: url(../img/white-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: none;

}

.person-card {

}

.users-container {
  height: 576px;
}

.person-container {

}

.card-text h3 {
  font-size: 20px;
}

.activep .card-text h3 {
  font-size: 24px;
}

.card-right {
  /* float: right; */
  right: 0;
  margin: 0;
  left: auto;
}

.card-left {
  /* float: right; */
  left: 0;
  margin: 0;
  right: auto;
}

.card-center {
  /* float: left; */
  right: 0;
  left: 0;
  margin: 0 auto;
}

.activep {
  filter: none;
  /* width: 400px; */
}

.fix-width-person {
  max-width: 90%;
  margin: 40px auto;
}

.card-img1 {
  background-image: url(../img/per1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 40%;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.card-img2 {
  background-image: url(../img/per2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 40%;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.card-img3 {
  background-image: url(../img/per3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 40%;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.activep .card-text {
  font-size: 14px;
  line-height: 17px;
}

.card-text {
  float: right;
  font-size: 11px;
  line-height: 13px;
  width: 60%;
  padding: 27px 5%;
  background: white;
  position: relative;
}

.vertical-d {
  position: absolute;
  right: -14px;
  z-index: 999;
}

.quat-image {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/* Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* Mobile */
@media only screen and (min-width: 600px) {


.new-slider {

  /* background-image: url(../img/white-back.jpg);
  background-repeat: no-repeat;
  background-size: cover; */

  padding-top: 50px;
  padding-bottom: 100px;



}



.slider-bg-desktop {

  background-image: url(../img/white-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

  .accept-img-mobile {
    display: none;
  }

.bg-for-section {
    display: none;
  }

  .dot {
    display: none !important;
  }

  /* .prev {
    display: none;
  } */

  /* .next {
    display: none;
  } */

  /* .bg-for-section {
    display: none;
  } */

  .mobile-trading-mobile {
    display: none !important;
  }

  /* #btn-form-sumbit {
  display: none !important;
}

#btn-form-sumbit button {
  display: none !important;
} */
  /* #btn-form-sumbit button {
  display: none;
} */
}

/* End of media query */
@media only screen and (max-width: 600px) {


  .select__selected {
      margin-top: 3px !important;
  }


  .lang-en-ar p {
    display: none;
  }


  .prev,
  .next {

      margin-left: -4px !important
  }



  .mySlides {

      padding-left: 12px !important
  }

.feature-container {
    background-image: url(../img/logovector.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position:center;

}

  .header-p-3 p {
    font-size: 20px !important;
    padding-bottom: 20px !important;
    text-align: center !important;
    width: 100% !important;
}


  .feature-container {
      background-image: url(../img/back-back-logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-size: 100% !important;
      /* background-Position: top; */
  }



 .new-slider {
  display: none;
}


  .dot {
    margin-bottom: 10px !important;
  }

  .main-logo img {
    display: none;
  }

  .p-y-f {
    padding: 10px;
  }

  .fix-p-d {
    margin-top: -8px !important
  }

  .text-testi p {
    padding: 0 20px 40px 20px !important;
    font-size: 18px !important;
    width: 100% !important;
    font-family: 'futura_t_medium';
    font-weight: bold;
  }

  .headline-testimonials h1 {
    padding: 10px;
    font-size: 28px !important;
    padding-top: 28px;
  }

  .bg-for-section {
    background-image: url(../img/white-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .download-text {
    text-align: center !important;
  }

  .mobile-trading-desktop img {

    display: none !important
  }

.mobile-trading-mobile img {
  width: 100%;

}




  /* .mobile-trading-desktop img {
    display: none;
  } */
  /* Button form */
  #btn-form-sumbit {
    text-align: center;
  }

  #btn-form-sumbit button {
    color: white;
    margin: 0 auto;
    background-color: #005932;
    border: 0;
    padding: 9px 18px;
    border-radius: 8px;
    width: 288px;
    cursor: pointer;
    font-size: 17px;
    -webkit-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  }

  /* hide form */
  .bg-fix-first {
    /* display: none !important;  */
  }

  .mimagelogo img {
    margin: 0 auto !important;
    margin: 30px !important;
  }

  .header-p-2 p {
    color: #dfdedd;
    font-size: 20px;
    font-family: 'futura_t_medium';
    text-align: left;
    width: 100%;
    padding-bottom: 12px;
    text-align: center;
    width: 100% !important;
    line-height: 1.2 !important;
    margin-bottom: 26px;
    width: 88% !important;
margin: 0 auto !important

  }

  .header-p-1 p {
    color: white;
    font-size: 20px;
    font-family: 'futura_t_medium';
    text-align: center;
    width: 100% !important;
    line-height: 1;
  }

  .main-h-p h1 {
    font-size: 27px;
    font-family: 'futura_t_medium';
    color: white;
    margin-top: 27px;
    text-shadow: 4px 4px #black;
    width: 90%;
    text-align: center;
    width: 100% !important;
    line-height: 1;
  }

  .back-1 {
    background-image: url(../img/bg-top-mobile.png) !important;
    background-repeat: no-repeat !important;
  background-size: contain !important;
  }

  #btn-sumbit button {
    width: 285px !important;
  }

  .logos-container {
    margin: 0 auto;
        padding: 30px 0 0px 0;

  }

  .logos-text p {
    font-size: 16px !important;
    width: 90%;
    font-family: 'futura_t_medium' !important;
  }

  .green-text-wrapper {
    text-align: center !important;
    color: white !important;
    padding: 10px !important;
  }

  .p-g-wrapper p {
    padding-bottom: 0px !important;
    text-align: center;
    color: white;
    font-size: 19px !important;
    font-weight: bold;
    font-family: 'futura_t_medium';
    /* font-family: "Myriad-Pro"; */
  }

  .p-g-wrapper2 p {
    padding-top: 10px;
    text-align: center !important;
    color: white;
    font-size: 19px !important;
    font-family: 'futura_t_medium' !important;
    width: 100% !important;
    margin: 0 auto !important;
    /* font-family: "Myriad-Pro"; */
  }

  .header-p-1 p {
    color: white;
    font-size: 20px;
    font-family: 'futura_t_medium';
    text-align: center;
    line-height: 1.2 !important;
    width: 88% !important;
margin: 0 auto !important

  }

  .header-p-2 {
    color: white;
    font-weight: 30px;
    font-family: 'futura_t_medium';
    text-align: center;
  }

  #green-btn {
    text-align: center;
    margin-bottom: 10px;
  }

  #yellow-btn {
    text-align: center;
    margin-bottom: 30px;
  }

  .p-features {
    margin-top: 15px !important;
    text-align: center !important;
    padding: 10px 15px 0px 15px !important;
    font-size: 18px !important;
        margin: 0 auto !important;
        padding: 20px !important;
        width: 80% !important;
        float: none !important;×“
            font-family: 'futura_t_medium';
  }

  .h1-trading {
    color: white;
    padding: 20px;
    text-align: center;
  }

  .p-trading {
    color: white;
    font-size: 26px;
    padding: 10px;
    font-family: 'futura_t_medium';
    text-align: center;
  }

.checkz {
  margin-top: 50px;
}


  .store-btn-fix {
    margin-bottom: 50px;
    text-align: center;
  }

  .store-image-fix {
    margin-bottom: 40px;
  }

  /* .bubble-contaienr {
    position: absolute !important;
    top: -957px !important;
    right: 0p !important;
    left: 0 !important;
    margin: 0 auto !important;
    text-align: center !important;
  } */
  .container-yellow {
    background-image: url(../img/yellow-back.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-bottom: 1007px !important;
  }

  .feature-row {
    text-align: center;
  }

  .users-container {
    display: none;
  }

  .mimagelogo img {
    width: 33% !important;
    margin: 0px auto !important;
    padding-top: 33px !important;
    float: none !important;
  }

  .btn-row {
    margin-bottom: 10px !important;
  }

  .feature-title p {
    font-size: 18px !important;
      padding: 0 20px 10px 20px !important;
    text-align: justify !important;
    font-family: 'futura_t_medium';
  }

  /* features aligment */
  /* payments aligment */
  .payments-icon {
    padding: 20px !important;
    text-align: center !important;
  }

  .payments-icon img {
    margin: 20px !important;
  }

  .text-disclaimer p {
    font-family: 'futura_t_medium';
    padding: 35px;
    text-align: justify;
  }

  /* Sumbut button 1 style */
  #green-btn button {
    color: white;
    background-color: #4a8a72;
    border: 0;
    padding: 5px 17px !important;
    border-radius: 25px;
    width: 293px !important;
    cursor: pointer;
    font-size: 21px !important;
    -webkit-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  }

  #yellow-btn button {
    color: white;
    background-color: #c8aa39;
    border: 0;
    padding: 5px 17px !important;
    border-radius: 25px;
    width: 293px !important;
    cursor: pointer;
    font-size: 21px !important;
    -webkit-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  }

  .container-yellow {
    padding-bottom: 50px !important;
  }

  /* .bubble-contaienr {
    top: -816px !important;
    right: 0 !important;
    left: 0 !important;
  } */
  .fade:not(.show) {
    opacity: 1;
  }

  .accept-img {
    display: none;
  }

  .accept-img-mobile {
    padding: 50px;
  }
}

/* end of mobile */
/* main logo margin */
.btn-row {
  margin-bottom: 100px;
}

.mobile-2 {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: 'futura_t_medium';
}

.mimagelogo img {
  margin-top: 30px;
  float: left;
}

.back-1 {
  background-image: url(../img/bg-top.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-p-2 {
  color: white;
  font-weight: 30px;
  /* padding: 0px 0 37px 0px; */
  font-family: 'futura_t_medium';
}

#green-btn button {
  color: white;
  background-color: #4a8a72;
  border: 0;
  padding: 0px 17px;
  border-radius: 25px;
  width: 200px;
  cursor: pointer;
  font-size: 26px;
  -webkit-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
}

#yellow-btn button {
  color: white;
  background-color: #c8aa39;
  border: 0;
  padding: 0px 17px;
  border-radius: 25px;
  width: 200px;
  cursor: pointer;
  font-size: 26px;
  -webkit-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
}

.store-btn-row {
  margin-bottom: 50px;
}

.video-contaienr {
  padding: 100px;
}

/* green section */
.container-yellow {
  background-image: url(../img/yellow-back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.user-wrapper {
  text-align: center;
  /* padding: 78px 0px 168px 0px; */
}

.p-g-wrapper p {
  padding-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
  font-family: 'futura_t_medium';
  margin: 0 auto;
  width: 95%;
}

.p-g-wrapper2 p {
  padding-bottom: 40px;
  font-size: 26px;
  width: 50%;
  margin: 0 auto;
}

.green-text-wrapper {
  padding: 24px 0 0 0px;
  text-align: center;
  color: white;
}

/* bubbles */
/* .bubble-contaienr {
  position: absolute;
  top: -120px;
  right: 0;
  left: 0;
} */
/* triangle white section */
.back-white-triangle {
  background-image: url(../img/white-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 156px !important;
}

/* feature section */
.feature-container {
  background-image: url(../img/back-back-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 38%;
}

.feature-title {
margin-top: 5px;
margin-bottom: 50px;

}

.feature-title p {
  margin-top: 20px;
  padding: 0 0 10px 0;
  text-align: center;
  font-family: 'futura_t_medium';
  font-size: 20px;
  color: black;
}

.p-features {
  float: right;
  margin-top: 24px;
  /* width: 63%; */
  text-align: center;
  font-size: 20px;
  width: 80%;
      font-family: 'futura_t_medium';

}

/* .feature-list-wrapper   {
list-style: none;
text-align: center;

}

.feature-list-wrapper ul  {
list-style: none;
text-align: center;
width: 100%;
text-align: center;
margin: 0 auto;

}

li {
float: right;
} */
/* .signup-btn {
  background: green;
  width: 300px;
  height: 60px;
  border-radius: 25px;
  margin: 0 auto;
  position: relative;
}

.signup-btn a {
  color: #005837;
  text-align: center;
  position: absolute;

} */
#btn-sumbit {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

#btn-sumbit button {
  color: white;
  margin: 0 auto;
  background-color: #c1a43a;
  border: 0;
  padding: 15px 17px;
  border-radius: 8px;
  width: 378px;
  cursor: pointer;
  font-size: 20px;
  -webkit-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 27px -6px rgba(0, 0, 0, 0.75);
}

/* Trading app section */
.back-trading-app {
  background-image: url(../img/green-back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.h1-trading {
  color: white;
  font-size: 30px;
  padding-top: 31px;
  font-family: 'futura_t_medium';
}

.p-trading {
  color: white;
  font-size: 20px;
  padding: 10px;
  font-family: 'futura_t_medium';
}

.store-btn-fix {
  margin-bottom: 50px;
  margin-top: 65px;
}

.check-text p {
  color: white;
  margin-bottom: 26px;
  font-size: 16px;
  font-family: 'futura_t_medium';
}

.check img {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
      margin-left: 24px;
}

.download-text {
  font-size: 20px;
color: white;
  font-family: 'futura_t_medium';
  margin-top: 50px;

}

/* we accept */
.accept-img {
  text-align: center;
  padding-top: 44px;
}

.liner {
  padding: 50px;
  margin: 0 auto;
}

.payments-icon {
  padding: 50px;
  text-align: center;
}

.payments-icon img {
  margin-right: 80px;
}

.text-disclaimer {
  text-align: center;
}

.text-disclaimer p {
  font-family: 'futura_t_medium';
}

.checkz {
  margin-top: 50px;
}
